<?xml version="1.0" encoding="UTF-8" standalone="no" ?><!--/*****************************************************************************
				Tejas Simulator
*************************************************************************************

   Copyright 2010 Indian Institute of Technology, Delhi
   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.

******************************************************************************
	Contributors:  Moksh Upadhyay, Abhishek Sagar
*****************************************************************************/-->
<Configuration>
	<Emulator>
		<EmulatorType>0</EmulatorType> <!-- 0-pin,1-qemu-->
		<CommunicationType>1</CommunicationType>  <!--0-file, 1-shmem, 2-socket -->
		<PinTool>/mnt/srishtistr0/home/anuj/PIN</PinTool>
		<PinInstrumentor>/mnt/srishtistr0/home/mayur/workspace/Tejas/src/emulator/pin/obj-pin/causalityTool.so</PinInstrumentor>
		<QemuTool>/home/prathmesh/workspace/qemu/x86_64-linux-user/qemu-x86_64 /home/prathmesh/tmp/testQemu.o</QemuTool>
		<ShmLibDirectory>/mnt/srishtistr0/home/anuj/workspace/Tejas/src/emulator/pin/obj-comm</ShmLibDirectory>
	</Emulator>
	
	<!--Simulation Parameters-->
	<Simulation>
		<NumTempIntReg>16</NumTempIntReg>			<!--Number of temporary Integer registers-->
		<IndexAddrModeEnable>0</IndexAddrModeEnable>		<!--Indexed addressing mode Enabled or disabled (Write 1 for YES, 0 for NO)-->
		<EmuCores>0</EmuCores>					<!--The cores on which emulator will run(supports ',' and '-' for ranges)-->
		<JavaCores>1</JavaCores>				<!--The cores on which simulator will run(supports ',' and '-' for ranges)-->
		<DebugMode>false</DebugMode>				<!--True if debug related printing is desired-->
		<DetachMemSys>false</DetachMemSys>		<!--True to detach memory system-->
		<PipelineType>1</PipelineType>	<!--1 => Inorder ; 2 => Multi Issue Inorder ; 3 => OutofOrder-->
		<NumInorderPipelines>3</NumInorderPipelines>	<!--Only applicable if the pipeline type is multi issue inorder-->
		<InstructionsFilename>/mnt/srishtistr0/home/nitingupta/workspace/TejasQemuTraces/linux_iozone_trace</InstructionsFilename><!-- The file in which instructions are written -->
		<numInstructionsToBeWritten>1000000</numInstructionsToBeWritten>
		<writeToFile>false</writeToFile>
		<PrintPowerStats>true</PrintPowerStats>
		<Broadcast>false</Broadcast>
		<PowerTrace>1</PowerTrace>			<!--0 => no power trace; 1=> trace after 'n' instructions ;2=> trace after 'n' cycles-->
		<pinpointsSim>false</pinpointsSim>
		<pinpointsFile>/mnt/srishtistr0/scratch/rajshekar/tejas/PinPoints_working_directory/soplex.test.Data/t.sorted</pinpointsFile>
		<NumInsToIgnore>0000000</NumInsToIgnore>	<!--Ignores these many profilable instructions from the start of the program-->
		<NumInsForTrace>10</NumInsForTrace>		<!--Power trace will be populated after every "NumInsForTrace" instructions-->
		<NumCyclesForTrace>1000000</NumCyclesForTrace>		<!--Power trace will be populated after every "NumCyclesForTrace" cycles-->
		<subsetSim>true</subsetSim>
		<subsetSimSize>10000000</subsetSimSize>
	</Simulation>

	<!--System Parameters-->
	<System>
		<NoOfCores>4</NoOfCores>				<!--(!!!Not used!!!) Number of cores in the simulated system-->
		<MainMemoryLatency>200</MainMemoryLatency>		<!--The latency of main memory (in clock cycles)-->
		<MainMemoryFrequency>3600</MainMemoryFrequency>		<!--Operating frequency of the main memory (in MHz)-->
		<MainMemoryPortType>FCFS</MainMemoryPortType>		<!--Type of access ports in the Main Memory (UL : Unlimited; FCFS : First Come First Serve; PR : Priority port)-->
		<MainMemoryAccessPorts>1</MainMemoryAccessPorts>	<!--Number of access ports in the Main Memory-->
		<MainMemoryPortOccupancy>1</MainMemoryPortOccupancy>	<!--The occupancy of the Main Memory ports (in clock cycles)-->
		<CacheBusLatency>1</CacheBusLatency>			<!--Latency of the RING used for broadcasting messages for cache coherence-->
        <NearestBankToCores>0,4 0,4 12,4 12,4</NearestBankToCores>
	
	<!--Directory Access Latencies. Need to be removed when merged with NoC-->
		<directoryAccessLatency>2</directoryAccessLatency>
		<memWBDelay>200</memWBDelay>
		<dataTransferDelay>3</dataTransferDelay>
		<invalidationSendDelay>3</invalidationSendDelay>
		<invalidationAckCollectDelay>3</invalidationAckCollectDelay>
		<ownershipChangeDelay>3</ownershipChangeDelay>
		<dirNetworkDelay>1</dirNetworkDelay>

		<!--Core Parameters-->
		<Core>
			<CoreFrequency>3600</CoreFrequency>		<!--Operating frequency of the core (in MHz)-->

			<LSQSize>64</LSQSize>				<!--Maximum number of entries in the LSQ-->
			<LSQLatency>1</LSQLatency>			<!--In clock cycles-->
			<LSQPortType>UL</LSQPortType>			<!--Type of access ports in the LSQ (UL : Unlimited; FCFS : First Come First Serve; PR : Priority port)-->
			<LSQAccessPorts>-1</LSQAccessPorts>		<!--Number of access ports in the LSQ-->
			<LSQPortOccupancy>-1</LSQPortOccupancy>		<!--The occupancy of the LSQ ports (in clock cycles)-->
			<LSQMultiPortingType>B</LSQMultiPortingType>	<!--Multi-porting option used in the LSQ('G' for GENUINE and 'B' for BANKED)-->

			<TLBSize>128</TLBSize>				<!--Maximum number of entries in the TLB-->
			<TLBLatency>4</TLBLatency>			<!--In clock cycles-->
			<TLBMissPenalty>10</TLBMissPenalty>			<!--In clock cycles-->
			<TLBPortType>UL</TLBPortType>			<!--Type of access ports in the TLB (UL : Unlimited; FCFS : First Come First Serve; PR : Priority port)-->
			<TLBAccessPorts>-1</TLBAccessPorts>		<!--Number of access ports in the TLB-->
			<TLBPortOccupancy>-1</TLBPortOccupancy>		<!--The occupancy of the TLB ports (in clock cycles)-->
			
			<FetchWidth>4</FetchWidth>			<!--Instruction fetch width-->
			<DecodeWidth>4</DecodeWidth>			<!--Instruction decode width-->
			<IssueWidth>6</IssueWidth>			<!--Instruction issue width-->
			<RetireWidth>4</RetireWidth>			<!--Instruction retire width-->
			<DecodeTime>1</DecodeTime>			<!--Instruction decode time-->
			<RenamingTime>2</RenamingTime>			<!--Renaming Time-->
			<ROBSize>168</ROBSize>				<!--Maximum number of entries in the ROB-->
			<IWSize>54</IWSize>				<!--Maximum number of entries in the Instruction Window-->
			<IntRegFileSize>160</IntRegFileSize>		<!--Maximum number of entries in the Integer register file-->
			<FloatRegFileSize>144</FloatRegFileSize>		<!--Maximum number of entries in the Floating point register file-->
			<IntArchRegNum>32</IntArchRegNum>		<!--Number of Integer architectural registers-->
			<FloatArchRegNum>32</FloatArchRegNum>		<!--Number of Floating point architectural registers-->
			<MSRegNum>64</MSRegNum>				<!--Number of machine specific registers-->
			<RegFilePortType>UL</RegFilePortType>		<!--Type of access ports in the Reg File (UL : Unlimited; FCFS : First Come First Serve; PR : Priority port)-->
			<RegFilePorts>4</RegFilePorts>			<!--Number of ports in the register file-->
			<RegFileOccupancy>1</RegFileOccupancy>		<!--Occupancy of the register file ports (in clock cycles)-->
			<BranchMispredPenalty>8</BranchMispredPenalty>	<!--Branch misprediction penalty-->
	
			<IntALUNum>4</IntALUNum>			<!--Number of Integer ALUs-->
			<IntMulNum>1</IntMulNum>			<!--Number of Integer Multipliers-->
			<IntDivNum>1</IntDivNum>			<!--Number of Integer Dividers-->
			<FloatALUNum>2</FloatALUNum>			<!--Number of Floating Point ALUs-->
			<FloatMulNum>1</FloatMulNum>			<!--Number of Floating Point Multipliers-->
			<FloatDivNum>1</FloatDivNum>			<!--Number of Floating Point Dividers-->
			<AddressFUNum>4</AddressFUNum>
			<AcceleratedFUNum>4</AcceleratedFUNum>
			
			<IntALULatency>1</IntALULatency>		<!--Latency of Integer ALUs-->
			<IntMulLatency>2</IntMulLatency>		<!--Latency of Integer Multipliers-->
			<IntDivLatency>4</IntDivLatency>		<!--Latency of Integer Dividers-->
			<FloatALULatency>2</FloatALULatency>		<!--Latency of Floating Point ALUs-->
			<FloatMulLatency>4</FloatMulLatency>		<!--Latency of Floating Point Multipliers-->
			<FloatDivLatency>8</FloatDivLatency>		<!--Latency of Floating Point Dividers-->
			<AddressFULatency>1</AddressFULatency>
			<AcceleratedFULatency>1</AcceleratedFULatency>
			<TreeBarrier>false</TreeBarrier>			<!--Only for particular purposes. Otherwise keep it as false-->
			<BarrierLatency>2</BarrierLatency>
			<BarrierUnit>Distributed</BarrierUnit>			<!--Central and distributed-->
			<!--Specify only the iCache and L1 (immediately next to the core) cache of the core here-->
			<iCache nextLevel="L2" type="Type0"/>
			<L1Cache nextLevel="L2" type="Type1"/>
			<!--L2Cache type = "Type2"/-->
			<!--L3Cache type = "Type3"/-->
		</Core>
		<Predictor>
			<Predictor_Mode>GShare</Predictor_Mode>	<!-- Legal Values are NoPredictor, PerfectPredictor, AlwaysTaken, AlwaysNotTaken, Tournament, Bimodal, GAg, GAp, GShare, PAg, PAp -->
			<PCBits>4</PCBits>
			<BHRsize>4</BHRsize>
			<saturating_bits>1</saturating_bits>
		</Predictor>
		<NOC>
			<!--If you want to use NOC for any  other elements like core, L1 , add it here using a tag -->
			<L2>
				<NocConfigFile>/mnt/srishtistr0/home/anuj/Documents/Tejas/src/simulator/net/NocConfig.txt</NocConfigFile>
				<NucaMapping>S</NucaMapping> <!-- S: Set-Associative A: Address-Mapped,B: Both -->
				<NocSelScheme>STATIC</NocSelScheme>
				<NocNumberOfBuffers>4</NocNumberOfBuffers>
				<NocPortType>UL</NocPortType>
				<NocAccessPorts>-1</NocAccessPorts>
				<NocPortOccupancy>-1</NocPortOccupancy>
				<NocLatency>1</NocLatency>
				<NocOperatingFreq>2000</NocOperatingFreq>
				<NocTopology>MESH</NocTopology>     <!--NOCTopology-->
				<NocRoutingAlgorithm>SIMPLE</NocRoutingAlgorithm>
				<NocLatencyBetweenBanks>8</NocLatencyBetweenBanks>
				<NocRouterArbiter>RR</NocRouterArbiter>
				<TechPoint>90</TechPoint>
				<NocConnection>ELECTRICAL</NocConnection>
			</L2>
		</NOC>
		<Directory>
		<Type0>
			<WriteMode>WB</WriteMode>			<!--Write-back (WB) or write-through (WT)-->
			<LastLevel>N</LastLevel>			<!--Whether this is the last level in the hierarchy or not (Y for yes, N for no)-->
			<BlockSize>64</BlockSize>			<!--In bytes (this should be same as the block size of the Caches between those you want coherence)-->
			<Associativity>8</Associativity>
			<Size>2048</Size>					<!--In KBs-->
			<Latency>42</Latency>				<!--In clock cycles-->
			<PortType>UL</PortType>				<!--Type of access ports in the Cache (UL : Unlimited; FCFS : First Come First Serve; PR : Priority port)-->
			<AccessPorts>4</AccessPorts>			<!--Number of access ports in the Cache-->
			<PortOccupancy>1</PortOccupancy>		<!--The occupancy of the cache ports (in clock cycles)-->
			<MultiPortingType>B</MultiPortingType>		<!--Multi-porting option used in the Cache('G' for GENUINE and 'B' for BANKED)-->
			<Coherence>N</Coherence>			<!--Coherence of upper level (N : None, S : Snoopy, D : Directory)-->
			<NumBuses>1</NumBuses>			<!--Coherence of upper level (N : None, S : Snoopy, D : Directory)-->
			<MSHRSize>2</MSHRSize>
			<BusOccupancy>0</BusOccupancy>
			<Nuca>N</Nuca>						<!--NUCA type (S : S-NUCA, D : D-NUCA, N : None)-->
		</Type0>

		</Directory>
		
		<!--Specify the caches other than the L1 caches after this-->
		<Cache frequency="2000" name="L2" nextLevel="" type="Type2"/>

		<CoherenceEnforcingCache>L2</CoherenceEnforcingCache>	<!--NAME of the cache whose immediate upper caches are coherent-->
	</System>

	<!--Give all the library elements here-->
	<Library>
		<Type0>
			<WriteMode>WB</WriteMode>			<!--Write-back (WB) or write-through (WT)-->
			<LastLevel>N</LastLevel>			<!--Whether this is the last level in the hierarchy or not (Y for yes, N for no)-->
			<BlockSize>64</BlockSize>			<!--In bytes-->
			<Associativity>4</Associativity>
			<Size>32</Size>					<!--In KBs-->
			<Latency>2</Latency>				<!--In clock cycles-->
			<PortType>UL</PortType>				<!--Type of access ports in the Cache (UL : Unlimited; FCFS : First Come First Serve; PR : Priority port)-->
			<AccessPorts>4</AccessPorts>			<!--Number of access ports in the Cache-->
			<PortOccupancy>1</PortOccupancy>		<!--The occupancy of the cache ports (in clock cycles)-->
			<MultiPortingType>B</MultiPortingType>		<!--Multi-porting option used in the Cache('G' for GENUINE and 'B' for BANKED)-->
			<Coherence>N</Coherence>			<!--Coherence of upper level (N : None, S : Snoopy, D : Directory)-->
			<NumBuses>1</NumBuses>			<!--Coherence of upper level (N : None, S : Snoopy, D : Directory)-->
			<MSHRSize>32</MSHRSize>
			<BusOccupancy>0</BusOccupancy>
			<Nuca>N</Nuca>						<!--NUCA type (S : S-NUCA, D : D-NUCA, N : None)-->
		</Type0>
		<Type1>
			<WriteMode>WB</WriteMode>			<!--Write-back (WB) or write-through (WT)-->
			<LastLevel>N</LastLevel>			<!--Whether this is the last level in the hierarchy or not (Y for yes, N for no)-->
			<BlockSize>64</BlockSize>			<!--In bytes-->
			<Associativity>4</Associativity>
			<Size>32</Size>					<!--In KBs-->
			<Latency>2</Latency>				<!--In clock cycles-->
			<PortType>FCFS</PortType>				<!--Type of access ports in the Cache (UL : Unlimited; FCFS : First Come First Serve; PR : Priority port)-->
			<AccessPorts>2</AccessPorts>			<!--Number of access ports in the Cache-->
			<PortOccupancy>2</PortOccupancy>		<!--The occupancy of the cache ports (in clock cycles)-->
			<MultiPortingType>B</MultiPortingType>		<!--Multi-porting option used in the Cache('G' for GENUINE and 'B' for BANKED)-->
			<Coherence>D</Coherence>			<!--Coherence of upper level (N : None, S : Snoopy, D : Directory)-->
			<NumBuses>1</NumBuses>			<!--Coherence of upper level (N : None, S : Snoopy, D : Directory)-->
			<MSHRSize>32</MSHRSize>
			<BusOccupancy>0</BusOccupancy>
			<Nuca>N</Nuca>						<!--NUCA type (S : S-NUCA, D : D-NUCA, N : None)-->
		</Type1>
		<Type2>
			<WriteMode>WB</WriteMode>			<!--Write-back (WB) or write-through (WT)-->
			<LastLevel>Y</LastLevel>			<!--Whether this is the last level in the hierarchy or not (Y for yes, N for no)-->
			<BlockSize>64</BlockSize>			<!--In bytes-->
			<Associativity>8</Associativity>
			<Size>16384</Size>				<!--In KBs-->
			<Latency>22</Latency>				<!--In clock cycles-->
			<PortType>FCFS</PortType>				<!--Type of access ports in the Cache (UL : Unlimited; FCFS : First Come First Serve; PR : Priority port)-->
			<AccessPorts>1</AccessPorts>			<!--Number of access ports in the Cache-->
			<PortOccupancy>4</PortOccupancy>		<!--The occupancy of the cache ports (in clock cycles)-->
			<MultiPortingType>B</MultiPortingType>		<!--Multi-porting option used in the Cache('G' for GENUINE and 'B' for BANKED)-->
			<Coherence>N</Coherence>			<!--Coherence of upper level (N : None, S : Snoopy, D : Directory)-->
			<NumBuses>1</NumBuses>		<!--Coherence of upper level (N : None, S : Snoopy, D : Directory)-->
			<MSHRSize>32</MSHRSize>
			<BusOccupancy>10</BusOccupancy>
			<Nuca>D</Nuca>						<!--NUCA type (S : S-NUCA, D : D-NUCA, N : None)-->
		</Type2>
		<Type3>
			<WriteMode>WT</WriteMode>			<!--Write-back (WB) or write-through (WT)-->
			<LastLevel>Y</LastLevel>			<!--Whether this is the last level in the hierarchy or not (Y for yes, N for no)-->
			<BlockSize>64</BlockSize>			<!--In bytes-->
			<Associativity>8</Associativity>
			<Size>65536</Size>				<!--In KBs-->
			<Latency>1</Latency>				<!--In clock cycles-->
			<PortType>UL</PortType>				<!--Type of access ports in the Cache (UL : Unlimited; FCFS : First Come First Serve; PR : Priority port)-->
			<AccessPorts>2</AccessPorts>			<!--Number of access ports in the Cache-->
			<PortOccupancy>2</PortOccupancy>		<!--The occupancy of the cache ports (in clock cycles)-->
			<MultiPortingType>B</MultiPortingType>		<!--Multi-porting option used in the Cache('G' for GENUINE and 'B' for BANKED)-->
			<Coherence>N</Coherence>			<!--Coherence of upper level (N : None, S : Snoopy, D : Directory)-->
			<NumBuses>1</NumBuses>				<!--Coherence of upper level (N : None, S : Snoopy, D : Directory)-->
			<MSHRSize>8</MSHRSize>
			<BusOccupancy>0</BusOccupancy>
			<Nuca>N</Nuca>						<!--NUCA type (S : S-NUCA, D : D-NUCA, N : None)-->
		</Type3>
	</Library>
	<Power>
		  <total_power>3.23781</total_power>
		  <total_power_nodcache2>3.23781</total_power_nodcache2>
		  <ialu_power>0.0424749</ialu_power>
		  <falu_power>0.127425</falu_power>
		  <bpred_power>0.0177226</bpred_power>
		  <rename_power>0.142355</rename_power>
		  <rat_power>0.013033</rat_power>
		  <dcl_power>0</dcl_power>
		  <window_power>0</window_power>
		  <lsq_power>1.73946</lsq_power>
		  <wakeup_power>0</wakeup_power>
		  <lsq_wakeup_power>1.30459</lsq_wakeup_power>
		  <rs_power>0.0108053</rs_power>
		  <rs_power_nobit>0</rs_power_nobit>
		  <lsq_rs_power>0.434865</lsq_rs_power>
		  <lsq_rs_power_nobit>0</lsq_rs_power_nobit>
		  <selection_power>0</selection_power>
		  <regfile_power>0.00676658</regfile_power>
		  <regfile_power_nobit>0</regfile_power_nobit>
		  <result_power>0</result_power>
		  <icache_power>0.395134</icache_power>
		  <dcache_power>0.606047</dcache_power>
		  <dcache2_power>0.0234976</dcache2_power>
		  <clock_power>0</clock_power>
		  <clockGatingStyle>1</clockGatingStyle>
		  <itlb>0.0105892</itlb>
		  <dtlb>0.0105892</dtlb>
		  <resultbus>0</resultbus>
		  <selection>0</selection>
		  <LinkEnergy>0.531616</LinkEnergy>
		  <RouterEnergy>0.0502646</RouterEnergy>
		  <BufferEnergy>0</BufferEnergy>
		  
		  <ruu_decode_width>4</ruu_decode_width>
		  <ruu_issue_width>6</ruu_issue_width>
		  <ruu_commit_width>4</ruu_commit_width>
		  <res_memport>1</res_memport>
		  <il1_port>2</il1_port>
		  <dl1_port>2</dl1_port>
		  <dl2_port>64</dl2_port>
		  <res_ialu>4</res_ialu>
		  <res_fpalu>2</res_fpalu>
	  </Power>
</Configuration>
